<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>megaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1624,1},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1624,118},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1624,235},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1624,352},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{434,1690},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1304,1171},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{867,1405},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1304,1288},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{867,1522},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1242,1405},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1242,1522},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1741,703},{373,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{867,1639},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{809,1756},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{1184,1756},{373,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1242,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1242,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1451,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1559,1756},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1617,1405},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1679,1171},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1734,1380},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1858,586},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1858,795},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1858,1004},{207,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1660,1614},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1768,1731},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1242,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1242,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,115}</string>
                <key>spriteSourceSize</key>
                <string>{207,115}</string>
                <key>textureRect</key>
                <string>{{1242,1639},{207,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,703},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,844},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,985},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,1126},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,1267},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,1408},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,1549},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{1,1690},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,703},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,844},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,985},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,1126},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,1267},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,1408},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,139}</string>
                <key>spriteSourceSize</key>
                <string>{431,139}</string>
                <key>textureRect</key>
                <string>{{434,1549},{431,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{542,586},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1083,469},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{979,586},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,703},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1520,469},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1416,586},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,820},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1304,703},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,937},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1304,820},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,1054},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1304,937},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,1171},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{1304,1054},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,115}</string>
                <key>spriteSourceSize</key>
                <string>{435,115}</string>
                <key>textureRect</key>
                <string>{{867,1288},{435,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,118},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{542,1},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,235},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{542,118},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1083,1},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,352},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{542,235},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1083,118},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,469},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{542,352},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1083,235},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1,586},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{542,469},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,115}</string>
                <key>spriteSourceSize</key>
                <string>{539,115}</string>
                <key>textureRect</key>
                <string>{{1083,352},{539,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWinWord.png</string>
            <key>size</key>
            <string>{1998,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d676cb7e3fdab0ce74175eb9debc09c2:07bcb5389123f66756debec9e0c8ffc4:b5a6fae3ede54427b215674e93435ebe$</string>
            <key>textureFileName</key>
            <string>BigWinWord.png</string>
        </dict>
    </dict>
</plist>
