<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BetBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,65}</string>
                <key>spriteSourceSize</key>
                <string>{202,65}</string>
                <key>textureRect</key>
                <string>{{104,1},{202,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnAutoPlay_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{238,135},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnAutoPlay_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{362,135},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnAutoPlay_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{460,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnMinus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{984,188},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnMinus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1040,188},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnMinus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1096,188},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1027,1},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1027,58},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1083,1},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{486,125},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{523,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnSpin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{586,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnStopAuto_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{610,125},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStopAuto_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{649,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnStopAuto_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{712,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnStop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{734,125},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{736,188},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{775,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnTurboOFF_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{838,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnTurboOFF_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{858,125},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboOFF_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{860,188},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboON_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{901,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnTurboON_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{964,1},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnTurboON_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{982,125},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,31}</string>
                <key>spriteSourceSize</key>
                <string>{222,31}</string>
                <key>textureRect</key>
                <string>{{1,213},{222,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,31}</string>
                <key>spriteSourceSize</key>
                <string>{222,31}</string>
                <key>textureRect</key>
                <string>{{225,205},{222,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,31}</string>
                <key>spriteSourceSize</key>
                <string>{222,31}</string>
                <key>textureRect</key>
                <string>{{225,205},{222,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,12}</string>
                <key>spriteSourceSize</key>
                <string>{54,12}</string>
                <key>textureRect</key>
                <string>{{571,228},{54,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpFont_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{1083,58},{63,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpFont_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,38}</string>
                <key>textureRect</key>
                <string>{{449,198},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpFont_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,26}</string>
                <key>textureRect</key>
                <string>{{526,188},{100,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpFont_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,9}</string>
                <key>spriteSourceSize</key>
                <string>{304,9}</string>
                <key>textureRect</key>
                <string>{{1,246},{304,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpFont_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,10}</string>
                <key>spriteSourceSize</key>
                <string>{208,10}</string>
                <key>textureRect</key>
                <string>{{526,216},{208,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JIEMIAN002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,101}</string>
                <key>spriteSourceSize</key>
                <string>{210,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jackpotpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,13}</string>
                <key>spriteSourceSize</key>
                <string>{262,13}</string>
                <key>textureRect</key>
                <string>{{307,238},{262,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LinesBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,65}</string>
                <key>spriteSourceSize</key>
                <string>{202,65}</string>
                <key>textureRect</key>
                <string>{{171,1},{202,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ReturnBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{132,72}</string>
                <key>textureRect</key>
                <string>{{238,1},{132,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ReturnBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{132,72}</string>
                <key>textureRect</key>
                <string>{{312,1},{132,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ReturnBtn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{132,72}</string>
                <key>textureRect</key>
                <string>{{386,1},{132,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,12}</string>
                <key>spriteSourceSize</key>
                <string>{27,12}</string>
                <key>textureRect</key>
                <string>{{571,242},{27,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Btn.png</string>
            <key>size</key>
            <string>{1151,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b36a98d2295b8a5992c3466256752ff:002e1399a6905b42812d6ebef0047d99:e39a9400456092ecaec4e26704ee2140$</string>
            <key>textureFileName</key>
            <string>Btn.png</string>
        </dict>
    </dict>
</plist>
