<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnDisable_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{37,202},{112,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnDisable_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{37,271},{112,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnDisable_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{151,202},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnEnable_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{1,349},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnEnable_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{70,340},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnEnable_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{139,340},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RrndomPick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{37,22},{154,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RrndomPick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{37,67},{154,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,19}</string>
                <key>spriteSourceSize</key>
                <string>{198,19}</string>
                <key>textureRect</key>
                <string>{{37,1},{198,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bActivate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{37,112},{154,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bActivate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{37,157},{154,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bBet_310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,34}</string>
                <key>spriteSourceSize</key>
                <string>{346,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dollarball.png</string>
            <key>size</key>
            <string>{236,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:375d75c2e3fa7d07b1a8f6f267134856:14e918b5e3612d6b6ccda1f4deb068e7:6558fc828082689d47ea6636df8be9a0$</string>
            <key>textureFileName</key>
            <string>dollarball.png</string>
        </dict>
    </dict>
</plist>
