<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rotation01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{1,373},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{139,373},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{277,1},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,370}</string>
                <key>spriteSourceSize</key>
                <string>{136,370}</string>
                <key>textureRect</key>
                <string>{{277,373},{136,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Blur.png</string>
            <key>size</key>
            <string>{414,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adde7b6df82a4ec2c3fd103c82c3eef3:b5c24f12a5c30081a56cc085dbbbc74b:107355211eac6a0677fef568824b4bb3$</string>
            <key>textureFileName</key>
            <string>Blur.png</string>
        </dict>
    </dict>
</plist>
