<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,6}</string>
                <key>spriteSourceSize</key>
                <string>{696,6}</string>
                <key>textureRect</key>
                <string>{{1623,1},{696,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,6}</string>
                <key>spriteSourceSize</key>
                <string>{696,6}</string>
                <key>textureRect</key>
                <string>{{1631,1},{696,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,6}</string>
                <key>spriteSourceSize</key>
                <string>{696,6}</string>
                <key>textureRect</key>
                <string>{{305,1369},{696,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,302}</string>
                <key>spriteSourceSize</key>
                <string>{696,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{696,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,302}</string>
                <key>spriteSourceSize</key>
                <string>{696,302}</string>
                <key>textureRect</key>
                <string>{{1,699},{696,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,58}</string>
                <key>spriteSourceSize</key>
                <string>{696,58}</string>
                <key>textureRect</key>
                <string>{{1563,1},{696,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,58}</string>
                <key>spriteSourceSize</key>
                <string>{696,58}</string>
                <key>textureRect</key>
                <string>{{305,1309},{696,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,188}</string>
                <key>spriteSourceSize</key>
                <string>{696,188}</string>
                <key>textureRect</key>
                <string>{{1003,699},{696,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,188}</string>
                <key>spriteSourceSize</key>
                <string>{696,188}</string>
                <key>textureRect</key>
                <string>{{1193,699},{696,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,288}</string>
                <key>spriteSourceSize</key>
                <string>{696,288}</string>
                <key>textureRect</key>
                <string>{{305,1},{696,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,288}</string>
                <key>spriteSourceSize</key>
                <string>{696,288}</string>
                <key>textureRect</key>
                <string>{{1003,1},{696,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,98}</string>
                <key>spriteSourceSize</key>
                <string>{696,98}</string>
                <key>textureRect</key>
                <string>{{1541,699},{696,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,98}</string>
                <key>spriteSourceSize</key>
                <string>{696,98}</string>
                <key>textureRect</key>
                <string>{{305,1209},{696,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,154}</string>
                <key>spriteSourceSize</key>
                <string>{696,154}</string>
                <key>textureRect</key>
                <string>{{305,797},{696,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,156}</string>
                <key>spriteSourceSize</key>
                <string>{696,156}</string>
                <key>textureRect</key>
                <string>{{1383,699},{696,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,126}</string>
                <key>spriteSourceSize</key>
                <string>{696,126}</string>
                <key>textureRect</key>
                <string>{{305,953},{696,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,126}</string>
                <key>spriteSourceSize</key>
                <string>{696,126}</string>
                <key>textureRect</key>
                <string>{{305,1081},{696,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,268}</string>
                <key>spriteSourceSize</key>
                <string>{696,268}</string>
                <key>textureRect</key>
                <string>{{1293,1},{696,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,268}</string>
                <key>spriteSourceSize</key>
                <string>{696,268}</string>
                <key>textureRect</key>
                <string>{{305,291},{696,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,234}</string>
                <key>spriteSourceSize</key>
                <string>{696,234}</string>
                <key>textureRect</key>
                <string>{{305,561},{696,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Line9N.png</string>
            <key>size</key>
            <string>{1640,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1188d40cdff66f2482d95cae116aa7:49146a7fffd98d9a69f6d0c9f4181eaa:61cca4bc2658ee7a4e137f18ccdb06c9$</string>
            <key>textureFileName</key>
            <string>Line9N.png</string>
        </dict>
    </dict>
</plist>
