<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rotation01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,1},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,303},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,605},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,605},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,907},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,907},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,1209},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,1209},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{1,1511},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rotation12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,300}</string>
                <key>spriteSourceSize</key>
                <string>{112,300}</string>
                <key>textureRect</key>
                <string>{{115,1511},{112,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Nnyy01.jpg</string>
            <key>size</key>
            <string>{228,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6844ec39391e33e915212387369e4f14:84e27c5eb122a79c4f825b7e43456d31:db0dc497f5b5c1862d124498e9228e8d$</string>
            <key>textureFileName</key>
            <string>Nnyy01.jpg</string>
        </dict>
    </dict>
</plist>
