<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animation_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1},{261,366}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{261,366}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{261,370}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{261,370}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,368},{261,364}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{261,364}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,733},{261,358}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{261,358}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{261,366}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{261,366}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{261,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,378}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{261,368}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{261,368}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
            <key>Animation_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,368},{261,360}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{261,360}}</string>
                <key>sourceSize</key>
                <string>{261,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CupAni1.png</string>
            <key>size</key>
            <string>{787,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bae3b4fcd0487a7eeb1c4c5802e5d78:1/2$</string>
            <key>textureFileName</key>
            <string>CupAni1.png</string>
        </dict>
    </dict>
</plist>
