<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>megaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{506,461},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1011,346},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1516,231},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1,691},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{506,576},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{913,461},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1418,346},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1,806},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{408,691},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{913,576},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1320,461},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1,921},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{408,806},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{815,691},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,113}</string>
                <key>spriteSourceSize</key>
                <string>{405,113}</string>
                <key>textureRect</key>
                <string>{{1320,576},{405,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1122,1145},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1855,687},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{715,1484},{261,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{978,1484},{261,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1241,1482},{261,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1542,1030},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1655,998},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1768,994},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1881,950},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1542,1293},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1655,1261},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1768,1257},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1881,1213},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1122,1145},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,111}</string>
                <key>spriteSourceSize</key>
                <string>{261,111}</string>
                <key>textureRect</key>
                <string>{{1122,1145},{261,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1,1036},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{408,921},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{815,806},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1222,691},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1,1149},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{408,1034},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{815,919},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1222,804},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1,1262},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{408,1147},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{815,1032},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1222,917},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1,1375},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{1,1488},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,111}</string>
                <key>spriteSourceSize</key>
                <string>{405,111}</string>
                <key>textureRect</key>
                <string>{{408,1260},{405,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{815,1145},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1222,1030},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{408,1373},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{815,1258},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{408,1486},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1629,691},{305,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1235,1143},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1235,1256},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{815,1371},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1235,1369},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1727,461},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1727,574},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{1742,687},{305,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{815,1145},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,111}</string>
                <key>spriteSourceSize</key>
                <string>{305,111}</string>
                <key>textureRect</key>
                <string>{{815,1145},{305,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,116},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{506,1},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,231},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{506,116},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1011,1},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,346},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{506,231},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1011,116},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1516,1},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,461},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{506,346},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1011,231},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1516,116},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ultraMegaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,113}</string>
                <key>spriteSourceSize</key>
                <string>{503,113}</string>
                <key>textureRect</key>
                <string>{{1,576},{503,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWinWord.png</string>
            <key>size</key>
            <string>{2033,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf0618db6bce676674a3efb654264bd:efd7d5ef1516d7ac98c203923ee53716:b5a6fae3ede54427b215674e93435ebe$</string>
            <key>textureFileName</key>
            <string>BigWinWord.png</string>
        </dict>
    </dict>
</plist>
