<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnDisable_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{110,37},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnDisable_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{176,151},{112,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnDisable_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{179,37},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnEnable_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{248,37},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnEnable_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{290,151},{112,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnEnable_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{317,37},{112,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RrndomPick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{152,42}</string>
                <key>textureRect</key>
                <string>{{22,1},{152,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RrndomPick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{152,42}</string>
                <key>textureRect</key>
                <string>{{22,155},{152,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,19}</string>
                <key>spriteSourceSize</key>
                <string>{198,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bActivate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{152,42}</string>
                <key>textureRect</key>
                <string>{{66,1},{152,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bActivate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{152,42}</string>
                <key>textureRect</key>
                <string>{{404,37},{152,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bBet_310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,34}</string>
                <key>spriteSourceSize</key>
                <string>{346,34}</string>
                <key>textureRect</key>
                <string>{{110,1},{346,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dollarball.png</string>
            <key>size</key>
            <string>{457,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be14e39d024e60583f908314b1219f12:580d0cf621468e2374d007c1f1d8ab29:6558fc828082689d47ea6636df8be9a0$</string>
            <key>textureFileName</key>
            <string>dollarball.png</string>
        </dict>
    </dict>
</plist>
