<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusMajor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1199},{222,123}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,15},{222,123}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,814},{226,133}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,15},{226,133}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,406},{226,145}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,4},{226,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,634},{224,143}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,2},{224,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1028},{214,141}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{214,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1286},{198,141}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{198,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor07.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1244},{194,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{194,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1368},{212,133}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{212,133}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{222,131}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{222,131}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{226,125}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{226,125}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,830},{226,121}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{226,121}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{220,121}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{220,121}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1070},{224,127}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,16},{224,127}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,695},{226,133}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,14},{226,133}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,953},{224,139}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,8},{224,139}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,860},{224,141}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,4},{224,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1227},{218,139}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,3},{218,139}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1086},{198,141}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,0},{198,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor07.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,830},{196,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,0},{196,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor08.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1324},{212,133}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{212,133}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor09.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1094},{222,131}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{222,131}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{226,125}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{226,125}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,949},{226,119}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{226,119}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{220,119}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{220,119}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{274,127}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{274,127}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{282,137}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,145},{284,137}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,12},{284,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{284,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,8},{284,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,284},{282,143}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{282,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,413},{270,143}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,1},{270,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,131},{250,141}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{250,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,274},{250,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{250,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,558},{250,135}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{250,135}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,679},{250,133}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{250,133}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{264,127}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{264,127}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{276,125}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{276,125}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,429},{280,123}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{280,123}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{280,123}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{280,123}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,554},{278,123}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{278,123}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>GameBonusBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,402}}</string>
                <key>sourceSize</key>
                <string>{464,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameBonusPic.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eac5c628f3b0eebc01bf23b989a6b86e:1/1$</string>
            <key>textureFileName</key>
            <string>GameBonusPic.png</string>
        </dict>
    </dict>
</plist>
