<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>megaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1039,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1109,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1111,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1179,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1181,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1249,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1251,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1319,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1321,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1389,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1391,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1459,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1461,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1529,1},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,68}</string>
                <key>spriteSourceSize</key>
                <string>{371,68}</string>
                <key>textureRect</key>
                <string>{{1531,374},{371,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1,757},{245,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{75,757},{245,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{149,755},{245,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{223,755},{245,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{297,755},{245,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sbigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1723,352},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1723,426},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1723,500},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1723,574},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1723,648},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1720,722},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1720,796},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1720,870},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1720,944},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sbigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,72}</string>
                <key>spriteSourceSize</key>
                <string>{245,72}</string>
                <key>textureRect</key>
                <string>{{1720,1018},{245,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,74}</string>
                <key>spriteSourceSize</key>
                <string>{377,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{377,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{1,380},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{1,1004},{375,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{75,380},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{77,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{149,378},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{151,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{223,378},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{225,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{297,378},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{299,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{371,378},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{373,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{445,378},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,72}</string>
                <key>spriteSourceSize</key>
                <string>{375,72}</string>
                <key>textureRect</key>
                <string>{{447,1},{375,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{519,378},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{521,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{593,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{595,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{667,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{669,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{741,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{743,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{815,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{817,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{889,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{891,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{963,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{965,1},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,72}</string>
                <key>spriteSourceSize</key>
                <string>{373,72}</string>
                <key>textureRect</key>
                <string>{{1037,376},{373,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{378,755},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{500,755},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{622,751},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{744,751},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{866,751},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{988,751},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1110,751},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1232,747},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1354,747},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1476,747},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1598,747},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1599,1},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1601,352},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1721,1},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ultraMegaBigWin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,120}</string>
                <key>spriteSourceSize</key>
                <string>{349,120}</string>
                <key>textureRect</key>
                <string>{{1843,1},{349,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWinWord.png</string>
            <key>size</key>
            <string>{1969,1105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbde30a78f9e9b23a21adb527d671fd:d3d3f4161182f930bb2068a5520c1e49:b5a6fae3ede54427b215674e93435ebe$</string>
            <key>textureFileName</key>
            <string>BigWinWord.png</string>
        </dict>
    </dict>
</plist>
