<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnAutoPlay_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,427},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnAutoPlay_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,479},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnAutoPlay_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,531},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnMinus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,49}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{167,980},{77,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnMinus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,49}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{84,998},{77,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnMinus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,49}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{1,1006},{77,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{1,904},{81,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{84,947},{81,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{1,955},{81,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,583},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,635},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,687},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStopAuto_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,739},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStopAuto_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{125,791},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStopAuto_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{1,800},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStop_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{114,843},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStop_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{1,852},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnStop_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{114,895},{111,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboOFF_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,422},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboOFF_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,485},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboOFF_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,548},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboON_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,611},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboON_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,674},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnTurboON_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{122,61}</string>
                <key>textureRect</key>
                <string>{{1,737},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,24}</string>
                <key>spriteSourceSize</key>
                <string>{251,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,24}</string>
                <key>spriteSourceSize</key>
                <string>{251,24}</string>
                <key>textureRect</key>
                <string>{{1,27},{251,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,24}</string>
                <key>spriteSourceSize</key>
                <string>{251,24}</string>
                <key>textureRect</key>
                <string>{{1,27},{251,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,14}</string>
                <key>spriteSourceSize</key>
                <string>{56,14}</string>
                <key>textureRect</key>
                <string>{{237,53},{56,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpFont_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,30}</string>
                <key>textureRect</key>
                <string>{{207,324},{71,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpFont_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{79,40}</string>
                <key>textureRect</key>
                <string>{{207,243},{79,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpFont_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{133,397},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpFont_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,11}</string>
                <key>spriteSourceSize</key>
                <string>{326,11}</string>
                <key>textureRect</key>
                <string>{{238,652},{326,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpFont_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,10}</string>
                <key>spriteSourceSize</key>
                <string>{234,10}</string>
                <key>textureRect</key>
                <string>{{1,53},{234,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JIEMIAN002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,204}</string>
                <key>spriteSourceSize</key>
                <string>{304,204}</string>
                <key>textureRect</key>
                <string>{{1,65},{304,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jackpotpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,13}</string>
                <key>spriteSourceSize</key>
                <string>{326,13}</string>
                <key>textureRect</key>
                <string>{{239,324},{326,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ReturnBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{207,111},{130,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ReturnBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{1,371},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ReturnBtn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{1,371},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{207,65},{27,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Btn.png</string>
            <key>size</key>
            <string>{256,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73323692c133248608e32b992cbfaea:179120ee09cb65b297261b37393194bc:e39a9400456092ecaec4e26704ee2140$</string>
            <key>textureFileName</key>
            <string>Btn.png</string>
        </dict>
    </dict>
</plist>
