<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{725,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,345}}</string>
                <key>sourceSize</key>
                <string>{725,345}</string>
            </dict>
            <key>NoCN0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,405},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoCN1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,349},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoEn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,349},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoEn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,349},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoThai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoThai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,170},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>NoVN0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,416},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>NoVN1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,416},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>YesCN0.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesCN1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,170},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesEn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesEn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,338},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesThai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,170},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesThai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{166,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,65}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>YesVN0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,416},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>YesVN1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModalDlg.png</string>
            <key>size</key>
            <string>{930,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22723ddfdc87ceda276e3c7ca384ff4:1/1$</string>
            <key>textureFileName</key>
            <string>ModalDlg.png</string>
        </dict>
    </dict>
</plist>
