<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusMajor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,874},{406,137}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{406,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,874},{408,137}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{408,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1284},{408,137}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{408,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,874},{402,137}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{402,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1274},{398,137}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{398,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1264},{388,137}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{388,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor07.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,729},{378,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{378,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor08.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,590},{378,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{378,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1254},{378,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{378,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1646},{378,137}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{378,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,874},{378,143}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{378,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,590},{378,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{378,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,737},{378,143}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{378,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1692},{378,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{378,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1698},{378,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{378,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,700},{380,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{380,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor17.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1893},{398,145}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{398,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1893},{404,145}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{404,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{408,145}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{408,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMajor20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{408,145}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{408,145}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,874},{408,137}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{408,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,874},{410,137}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{410,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1286},{408,137}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{408,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1282},{404,137}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{404,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,874},{398,137}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{398,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,874},{388,137}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{388,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1264},{380,137}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{380,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,1646},{380,137}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{380,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,882},{380,137}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{380,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1264},{380,137}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{380,137}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1646},{380,143}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,1},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,882},{380,143}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1264},{380,143}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,882},{380,143}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1674},{380,143}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor16.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1839},{380,143}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{380,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor17.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1278},{398,143}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{398,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor18.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1284},{406,143}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{406,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor19.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1286},{410,143}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{410,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusMinor20.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,874},{410,143}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{410,143}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,296},{444,141}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{444,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,153},{444,141}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{444,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,153},{444,141}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{444,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,153},{444,141}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{444,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{438,141}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{438,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1310},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,874},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,447},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,447},{434,141}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{434,141}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,438},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,439},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,296},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,296},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{434,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{434,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{444,149}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{444,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom19.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{444,149}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{444,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>BonusRandom20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{444,149}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{444,149}}</string>
                <key>sourceSize</key>
                <string>{452,149}</string>
            </dict>
            <key>GameBonusBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,402}}</string>
                <key>sourceSize</key>
                <string>{464,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameBonusPic.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b7f0f71a3d5337bb2f8bf0be4a9e530:1/1$</string>
            <key>textureFileName</key>
            <string>GameBonusPic.png</string>
        </dict>
    </dict>
</plist>
