<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigWinBg2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{605,385}</string>
                <key>spriteSourceSize</key>
                <string>{605,389}</string>
                <key>textureRect</key>
                <string>{{1,515},{605,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bbg1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,255}</string>
                <key>spriteSourceSize</key>
                <string>{649,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{649,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bbg1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,255}</string>
                <key>spriteSourceSize</key>
                <string>{649,255}</string>
                <key>textureRect</key>
                <string>{{1,258},{649,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bbg3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,628}</string>
                <key>spriteSourceSize</key>
                <string>{668,628}</string>
                <key>textureRect</key>
                <string>{{1,902},{668,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWinEffect.png</string>
            <key>size</key>
            <string>{670,1531}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47ee7e47bde831b9807cb5f6961f0f0d:50d34f509713ad7e08833eadffc40e34:70570f9d1ce5d14d90bc8ea6d187941a$</string>
            <key>textureFileName</key>
            <string>BigWinEffect.png</string>
        </dict>
    </dict>
</plist>
