<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dbact01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1046},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,80},{333,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact05.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,524},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>dbact07.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{331,520}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,80},{331,520}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xuemei04.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27662274bce5c1a29e165b8f94700a07:1/1$</string>
            <key>textureFileName</key>
            <string>Xuemei04.png</string>
        </dict>
    </dict>
</plist>
