<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigSmallBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>Colledt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,576},{149,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>Colledt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,500},{149,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>Dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,604},{77,20}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{87,24}</string>
            </dict>
            <key>DoubleHalf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,424},{149,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>DoubleHalf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,348},{149,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>Double_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,272},{149,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>Double_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,72}}</string>
                <key>sourceSize</key>
                <string>{149,74}</string>
            </dict>
            <key>Player.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,272},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{87,24}</string>
            </dict>
            <key>Poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,137},{133,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,185}}</string>
                <key>sourceSize</key>
                <string>{133,185}</string>
            </dict>
            <key>Poker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{133,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,185}}</string>
                <key>sourceSize</key>
                <string>{133,185}</string>
            </dict>
            <key>Prompt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,652},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>Prompt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,652},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>Prompt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,652},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
            <key>Prompt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,349},{274,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,22}}</string>
                <key>sourceSize</key>
                <string>{274,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DbUI.png</string>
            <key>size</key>
            <string>{991,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86567f729a5234ec21c51ed1ec673ea8:1/1$</string>
            <key>textureFileName</key>
            <string>DbUI.png</string>
        </dict>
    </dict>
</plist>
